<div class="top-bar-promo">
    <h6>3 Y 6 CUOTAS SIN INTERÉS - ENVÍOS GRATIS</h6>
</div>

<header class="main-header">
    <div class="main-header-top-bar">
        <picture>
            <a href="/"> 
                <img src="/img/logo-mobile.png" class="logo">
            </a>                                
        </picture>          
    

        <ul class="nav-center">
            <li>
             <a href="#">LO NUEVO</a>
            </li>
            <li>
                <a href="#">COLECCION</a>
            </li>
            <li>
                <a href="#">SALE</a>
            </li>
        </ul>

       

        <div class="nav-right">
            <a href="#"">
                <i class="fas fa-search"></i>
            </a>    
            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
        </div>

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Register / Login
            </a>

            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login/">Login</a></li>
            <li><a class="dropdown-item" href="/register/">Register</a></li>
            </ul>
        </div>

    </div>  
</header>