<div class="offer-bar">
    <p>3 Y 6 CUOTAS SIN INTERÉS, ENVIOS GRATIS</p>
</div>

<div class="top-header">
    <ul>
        <% if (locals.logged) { %>
            <li><a><img src = "/img/profile/avatar_default.png" width = "40">Hola <%= locals.userLogged.name %></a></li>
            <li><a href = "/user/user-profile">Mi cuenta</a></li>
            <li><a href = "/user/logout">Cerrar Sesión</a></li>
        <% } else {%>
            <li><a href="/user/register">Crear cuenta</a></li>
            <li><a href="/user/login">Iniciar sesión</a></li>
        <% } %>
        <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
</div>

<header class="nav-head">
    <div class="nav-container">
        <nav class="nav-head-main">
            <picture class="logo">
                <a href="/"> 
                    <img src="/img/logo-mobile.png">
                </a>                                
            </picture>                 
                <ul>                    
                    <li><a href="/productos">LO NUEVO</a></li>
                    <li><a href="#">COLECCION</a></li>
                    <li><a href="#">SALE</a></li>
                </ul>          
                <form action="" method="post" class="search">
                    <fieldset class="container-form">
                        <input type="text" placeholder="Buscar"> 
                        <button class="container-form"><i class="fas fa-search"></i></button>
                    </fieldset>
                </form>   
        </nav>
    </div>  
</header>