<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head-->    
    <%- include('./partials/head.ejs') %>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>
    <title>Detalle Producto</title>
</head>
<body>
    <section>
        <div class = "slider">
            <img class = "imagen" src = "img/Captura1.png" alt = "foto producto">
            <img class = "imagen" src = "img/Captura2.png" alt = "foto producto">
            <img class = "imagen" src = "img/Captura3.png" alt = "foto producto">
            <img class = "imagen" src = "img/Captura4.png" alt = "foto producto">
            <img class = "imagen" src = "img/Captura5.png" alt = "foto producto">
            <img class = "imagen" src = "img/Captura6.png" alt = "foto producto">
            <img class = "imagen" src = "img/Captura7.png" alt = "foto producto">
            <img class = "imagen" src = "img/Captura8.png" alt = "foto producto">
        </div>
        <div class = "detalle-producto">
            <h1>CONJUNTO NAOKI</h1>
            <h2>$30.000</h2>
        </div>
        <div>
            <label for = "color">COLOR</label>
            <select name = "color" id = "color">
                <option value = "GREEN">OXI GREEN</option>
                <option value = "GOLD">GOLD</option>
                <option value = "PINK">DUSTY PINK</option>
                <option value = "BLACK">BLACK</option>
            </select>
        </div>
        <div>
            <label for = "size">TALLE</label>
            <select name = "size" id = "size">
                <option value = "XS">XS</option>
                <option value = "S">S</option>
                <option value = "M">M</option>
                <option value = "L">L</option>
                <option value = XL">XL</option>
                <option value = "XXL">XXL</option>
            </select>
        </div>
        <div>
            <a href="#">GUÍA DE TALLES</a>
        </div>
        <div class = "agregarCarrito">  
            <button class = "botonAgregarCarrito" type = "submit"><a href="/carrito-compras">AGREGAR AL CARRITO</a></button>
        </div>
        <h4>DESCRIPCIÓN DEL PRODUCTO</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, esse. Tempora nostrum, accusantium consequuntur hic molestiae et, repellat illum facilis vel qui ab error voluptatem harum animi expedita officia sunt!</p>
        
        

    </section>

        <!-- footer-->
    <%- include('./partials/footer.ejs') %>    
</body>
</html>


