<!DOCTYPE html>
<html lang="en">
 
    <!-- head-->    
    <%- include('./partials/head.ejs') %>
    <title>Ingresar</title>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>

    <main class = "login">
        <form action = "/login" method = "POST">
            <div>
                <h2>INGRESÁ</h2>
            </div>
            <div class = "datos">
                <div>            
                    <label for = "email">EMAIL</label>
                    <input type = "email" name = "email" id = "email">
                </div>
                <div>
                    <label for = "password">CONTRASEÑA</label>
                    <input type = "password" name = "password" id = "password">
                </div>
            </div>
            <!--<div class = "recordar">
                <input type = "checkbox" name = "rebember">
                <label for = "rebember">Recordar contraseña</label>
            </div>-->
            <div class = "olvidoContraseña">
                <p><a href="/recuperar-contrasenia">¿Olvidaste tu contraseña?</a></p>
            </div>
            <div class = "ingresar">  
                <button class = "botonIngresar" type = "submit"><a href="/home">INGRESAR</a></button>
            </div>
            <div class = "registrate">
                <p>¿No tenés cuenta? <a href="/register">Registrate ahora</a></p>
            </div>
        </form>
    </main>

         <!-- footer-->
         <%- include('./partials/footer.ejs') %>  

</body>
</html>