<!DOCTYPE html>
<html lang="es">

    <!-- head-->    
    <%- include('./partials/head.ejs') %>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>

<main class = "crearProducto">

	<div id="errores">
		<ul>

		</ul>
	</div>

	<form action="/productos/create" method="POST" enctype="multipart/form-data">
		<div>
			<h2>CREAR PRODUCTO</h2>
		</div>
		<div class = "div-1">
			<label for = "name">NOMBRE</label>
			<input type = "text" name = "name" id = "name">
		</div>
		<div class = "div-1">
			<label for = "price">PRECIO</label>
			<input type = "text" name = "price" id = "price">
		</div>
		<div class = "div-1">
			<label for = "color">COLOR DISPONIBLE</label>
			<select name = "color" id = "color">
				<option>SELECCIONAR</option>
				<option>NEGRO</option>
				<option>BLANCO</option>
			</select>
		</div>
		<div class = "div-1">
			<label for = "size">TALLE DISPONIBLE</label>
			<select name = "size" id = "size">
				<option>SELECCIONAR</option>
				<option>XS</option>
				<option>S</option>
				<option>M</option>
				<option>L</option>
				<option>XL</option>
				<option>XXL</option>
			</select>
		</div>
		<div>
			<p>CATEGORÍAS<p>
			<div class = "categorias">
				<div>
					<input type = "checkbox" name = "nueva_coleccion" id = "category"  value= "nueva_coleccion">
					<label for = "category">NUEVA COLECCIÓN</label>
				</div>
				<div>
					<input type = "checkbox" name = "category" id = "category" value= "sale">
					<label for = "category">SALE</label>
				</div>
				<div>
					<input type = "checkbox" name = "invierno" id = "category" value= "invierno">
					<label for = "category">INVIERNO</label>
				</div>
				<div>
					<input type = "checkbox" name = "verano" id = "category" value= "verano">
					<label for = "category">VERANO</label>
				</div>
				<div>
					<input type = "checkbox" name = "remeras" id = "category" value= "remeras">
					<label for = "category">REMERAS</label>
				</div>
				<div>
					<input type = "checkbox" name = "buzos" id = "category" value= "buzos">
					<label for = "category">BUZOS</label>
				</div>
				<div>
					<input type = "checkbox" name = "pantalones" id = "category">
					<label for = "category">PANTALONES</label>
				</div>
				<div>
					<input type = "checkbox" name = "camperas" id = "category">
					<label for = "category">CAMPERAS</label>
				</div>
			</div>
		</div>

		<div class = "div-1">
			<label for = "stock" name = "stock">STOCK DISPONIBLE</label>
			<select name = "stock" id = "stock">
				<option>SELECCIONAR</option>
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
			</select>
		</div>
		<div  class = "div-3">
			<label>DESCRIPCIÓN</label>
			<textarea name = "description" id = "description"></textarea>
		</div>
		<div  class = "div-3">
			<label for = "image">SUBIR IMAGEN</label>
			<input type = "file" id = "image" name = "fotoProducto">
		</div>
		<div class = "guardar" >
			<!-- REDIRECCIONAR A DETAIL -->
			<button class = "botonGuardar" type="submit">  GUARDAR PRODUCTO </button>
		</div>
	</form>	
</main>

<script src="/js/validatorCreate.js"></script>

     <!-- footer-->
     <%- include('./partials/footer.ejs') %>    

	 <script src="/js/validatorCreate.js"></script>

</body>
</html>