<!DOCTYPE html>
<html lang="en">
 
    <!-- head-->    
    <%- include('./partials/head.ejs') %>
    <title>Mi cuenta</title>

<body>
    <!-- header-->
    <%- include('./partials/header.ejs') %>
    
<h1>ESTE ES EL PERFIL DE USUARIO :) </h1>

<div class = "cerrarSesion">  
    <button class = "botonSalir" type = "submit">CERRAR SESIÓN</button>
</div>


         <!-- footer-->
         <%- include('./partials/footer.ejs') %>  

</body>
</html>