*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    font-family: 'Montserrat', sans-serif;    
}

.main-header{
    display: flex;
    width: 100vw;
    padding: 20px;
}

.main-header-top-bar{
    display: flex;
    flex: 1;
    height: 8vh;
    justify-content: flex-start;
    align-items: center;    
}

.nav-right{
    display: flex;
    flex: 1;
    height: 8vh;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    width: 50px;
    margin-bottom: 15px;
}

.fa-search{
    font-size: 20px;
}

.burger-menu{
    font-size: 20px;
    padding-left: 10px;
}

.section-articles{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    justify-content: center;
    padding-top: 10px;
}

.section-articles img{
    width: 100%;
}

.container-video{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.legend{
    text-align: center;
    font-size: 15px;
}